@import '../../../../styles/utils/size-variables.scss';
.upper-info {
  background: url('./Details-bg.svg');
  height: 60px;
  font-size: 14px;

  &__wrapper {
    height: 100%;
    max-width: 950px;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    position: relative;

    color:#fff;
    align-items: center;
  }

  &__total {
    padding-right: 20px;
  }

  &__amount {
    padding-right: 70px;
  }

  &__details {
    padding-right: 24px;
    cursor: pointer;

    &::after {
      content: url('./angle-down.svg');
      padding-left: 14px;
    }
  }
  
  &__logo {
    font-family: 'Kristi', sans-serif;
    font-size: $medium-large;

    position: absolute;
    left: 12px;
    bottom: -25px;

    &::after {
      content: 'logo';
      position: absolute;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      bottom: -5px;
      right: -15px;
    }
  }
}
